/*********************************************************
    Post
*********************************************************/

.post {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0;
}

.post__item {
  position: relative;
  flex: 0 0 calc(33.333333% - 40px);
  max-width: calc(33.333333% - 40px);
  min-height: 400px;
  margin: 20px;
  padding: 50px;
  color: $color-black;
  background: $color-white;
  border: 1px solid $color-black;
  transition: background 0.2s ease-in-out, color 0.25s ease-in-out;
  @media (max-width: $bp-md) {
    flex-basis: calc(100% - 40px);
    max-width: calc(100% - 40px);
    min-height: 225px;
  }
  &:hover,
  &:focus {
    background: darken($color-grey-dark, 5%);
    color: $color-white;
    * {
      color: $color-white;
    }
    .btn.arrow {
      color: $color-black;
      background: rgba($color-black, 1);
      &:after {
        margin-left: 14px;
      }
    }
  }
  a {
    color: $color-white;
    text-decoration: none;
  }
  .btn.arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: rgba($color-black, 0.5);
    &:after {
      vertical-align: middle;
    }
  }
}

.post__cat {
  padding-top: 20px;
  font-size: rem(12);
  text-transform: uppercase;
}
