// Services

.services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: rem(-15);
}

.service {
  position: relative;
  flex: 1 0 100%;
  margin: rem(15);
  text-align: center;
  border-bottom: 1px solid $color-grey-light;
  border-right: 0;
  &:last-child() {
    border: 0;
  }
  @media (min-width: $bp-md) {
    flex: 1;
    text-align: left;
    border-bottom: 0;
    border-right: 1px solid $color-grey-light;
  }
}

.service__number {
  position: absolute;
  color: $color-white;
  font-size: 2rem;
  font-weight: 700;
  left: 36px;
  top: 36px;
  letter-spacing: 1px;
  @media (max-width: $bp-md) {
    display: none;
  }
}

.service__content {
  padding: rem(30);
  color: $color-white;
  @media (min-width: $bp-md) {
    padding: rem(120) 10% rem(60);
    height: 750px;
  }
}


.service__title {
  margin-top: 0;
  margin-bottom: rem(30);
  color: $color-white;
}

.service__title--service {
  margin: 0;
  padding: rem(5) 0;
  letter-spacing: 1px;
  font-size: rem(14);
  text-transform: uppercase;
  color: $color-grey;
}

.service__icon {
  display: block;
  margin-top: rem(60);
  text-align: center;
}


.icon-card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: rem(-15);
  padding: 0;
}
.icon-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(12 / 12 * 100%);
  margin: rem(15);
  padding: rem(60) rem(30);
  background: $color-white;
  text-decoration: none;
  transition: all 0.2s linear;
  @media (min-width: $bp-md) {
    width: calc(4 / 12 * 100% - 30px);
    //padding: rem(60);
  }
  @include cardHover();
  li {
    display: flex;
    align-items: center;
  }
  span {
    padding-right: rem(20);
    font-size: rem(50);
    color: $color-secondary;
  }
}