// Services

.services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

.service {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: rem(5);
  padding-right: rem(5);
  @media (min-width: $bp-md) {
    flex: 0 0 33.333333%;
    max-width: 33.33333%;
    padding-left: rem(5);
    padding-right: rem(5);
    border-right: 1px solid $color-border;
  }
  &:last-child {
    border: none;
  }
}

.service__number {
  position: absolute;
  color: $color-border;
  font-size: 2rem;
  font-weight: 700;
  left: 36px;
  top: 36px;
  letter-spacing: 1px;
  @media (max-width: $bp-md) {
    display: none;
  }
}

.service__content {
  padding: rem(30) 0;
  @media (min-width: $bp-md) {
    padding: rem(120) 5% rem(60);
    text-align: center;
  }
}

.service__title {
  margin-top: 0;
  margin-bottom: rem(30);
  color: $color-secondary;
}

.service__title--service {
  padding: rem(5) 0;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: rem(14);
  text-transform: uppercase;
}

.service__icon {
  display: block;
  margin-top: rem(60);
}


.icon-card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: rem(-15);
  padding: 0;
}
.icon-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(12 / 12 * 100%);
  margin: rem(15);
  padding: rem(60) rem(30);
  background: $color-white;
  text-decoration: none;
  transition: all 0.2s linear;
  @media (min-width: $bp-md) {
    width: calc(4 / 12 * 100% - 30px);
    //padding: rem(60);
  }
  @include cardHover();
  li {
    display: flex;
    align-items: center;
  }
  span {
    padding-right: rem(20);
    font-size: rem(50);
    color: $color-secondary;
  }
}