// Services

.services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: rem(-15);
}

.service {
  position: relative;
  flex: 1 0 100%;
  margin: rem(15);
  text-align: center;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  @media (min-width: $bp-md) {
    flex: 1;
    text-align: left;
  }
}

.service__number {
  position: absolute;
  color: $color-black;
  font-size: 2rem;
  font-weight: 700;
  left: 36px;
  top: 36px;
  letter-spacing: 1px;
  @media (max-width: $bp-md) {
    display: none;
  }
}

.service__content {
  padding: rem(30);
  color: $color-body;
  @media (min-width: $bp-md) {
    padding: rem(120) 10% rem(60);
    height: 750px;
  }
}


.service__title {
  margin-top: 0;
  margin-bottom: rem(30);
  color: $color-black;
}

.service__title--service {
  margin: 0;
  padding: rem(15) 0;
  letter-spacing: 1px;
  font-size: rem(14);
  text-transform: uppercase;
}

.service__icon {
  display: block;
  margin-top: rem(60);
  text-align: center;
}
