---
layout: page
title: About Brick & Monitor - A creative development agency in Tampa, Florida
bodyclass: page-about
hero-title: We help brands connect with audiences through intelligent design & technology.
hero-bg: dark-l
---

<section class="section section--pad section--primary">
    <div class="wrapper">
      <div class="row-flex">
        <div class="row-flex__md-12 cta cta--centered">
          <p>When you work with us, you get the personal, devoted attention of an agency, <strong>without the overhead</strong>.</p>
        </div><!-- /.col -->
      </div><!-- /.row-flex -->
    </div><!-- /.wrapper -->
  </section>

  <section class="section section--pad section--dark">
      <div class="wrapper">
        <div class="row-flex">
          <div class="row-flex__md-12">
            <h2 class="heading heading--centered">Our Services</h2>
            {% include services.html %}
          </div><!-- /.col -->
        </div><!-- /.row-flex -->
      </div><!-- /.wrapper -->
    </section>

<section class="section section--pad section--services">
  <div class="wrapper">
    <div class="row-flex__md-12">
        <h2 class="heading heading--centered">Your Team</h2>
        <div class="heading-seperator"></div>
        {% include team.html %}
      </p><!-- /.col -->
    </div><!-- /.row-flex -->
  </div><!-- /.wrapper -->
</section>

<section class="section section--pad section--grey section--about">
    <div class="wrapper">
      <div class="row-flex">
        <div class="row-flex__md-12">
          <h2 class="heading heading--centered">Industries</h2>
          <div class="heading-seperator"></div>
          <p>Our specialty is creative strategy, design &amp; development, fuled by a passion for helping those establish &amp; promote their cause. We particularly work best with mission-critical brands. These include:</p>
          {% include who.html %}
        </p><!-- /.col -->
      </div><!-- /.row-flex -->
    </div><!-- /.wrapper -->
  </section>