--- 
layout: page 
title: Brick & Monitor - A Website Management & Creative Development Agency
description: Brick & Monitor is a website management and creative development agency located in in Tampa, Florida. We help businesses create a faster, more stable, and reliable website. And we help brands tell their story using modern technology and progressive design. Our specialty is website development & management support plans.
bodyclass: page-home
bgcolorclass: bg-white
bgimg: home-hero-bg.jpg
hero: Website support & growth management
subtitle: Let our team take over the frustrating, and sometimes terrifying job of managing your website.
---

<div class="page-home">

<section class="section section-wrap">
    <div class="container">
      <h4 class="section-title">What we do</h2>
      <h4 class="section-title section-title--alt">We offer website support plans &amp; services, so you can stop worrying about managing your website and focus on your business.</h4>
    </div>
    {% include what-we-do.html %}
</section>

<section class="news-layout section-wrap bg-primary">
  <div class="container">
    <h5 class="section-title section-title--underline">Support &amp; Growth Plans</h5>
    {% include plans-list-all.html %}
  </div>
</section>

<section class="section-wrap section-work bg-white" id="more">
  <div class="container">
      <h4 class="section-title">Interested in Custom Development?</h4>
      <h4 class="section-title section-title--alt">Recent Work</h4>
      {% assign project_items = site.projects | where: "featured-home", "true" | sort: 'date' %}
      {% for project in project_items limit:1 %}

        <a href="{{ project.url }}">
        <div class="project-block">
          <div class="half left">
            <h4 class="">{{ project.title }}</h4>
            <p>{{ project.description }}</p>
            <a class="btn arrow" href="{{ project.url }}">See More</a>
          </div><!--/.half-->
          <div class="half right">
            <img src="{{site.baseurl}}/assets/images/{{project.img}}" alt="{{ project.title }}">
          </div><!--/.half -->
        </div><!--<!--/.project-block-->
        </a>

      {% endfor %}
      <div class="project-more-wrapper row end-xs">
        <a class="btn arrow right" href="{{ project.url }}/work">View More Work</a>
      </div><!--<!--/.project-more-wrapper-->
      
  </div><!--/.container-->
</section>


</div><!--/.page-home-->