---
layout: page
title: Brick & Monitor - A Creative Design &amp; Development Agency
description: Brick & Monitor is a creative design &amp; development agency located in in Tampa, Florida. We help businesses create a faster, more stable, and reliable website. And we help brands tell their story using modern technology and progressive design. Our specialty is website development & management support plans.
bodyclass: page-home
bgcolorclass: bg-white
twocol: true
hero: Helping brands adapt for what's next online.
subtitle: A forward-thinking creative design &amp; development team.
---

<div class="page-home">

<section class="section section-wrap bg-white">
    <div class="container">
      <h4 class="section-title">What We Do</h2>
      <h4 class="section-title section-title--alt">We offer creative design &amp; development services to extend your brand online.</h4>
    </div>
    {% include what-we-do.html %}
</section>

<section class="news-layout section-wrap bg-pattern-grey">
  <div class="container">
    <h4 class="section-title section-title--underline">Featured Projects</h4>
    {% include projects-list-limit-home.html %}
  </div>
</section>

</div><!--/.page-home-->