--- 
layout: home 
title: Brick & Monitor - Tampa, Florida Digital Advocacy Agency
bodyclass: page-home 
hero-title: 
hero-subtitle: 
hero-bg: home
---

<section class="section section--intro section--white">
    <div class="wrapper">
        <div class="row-flex">
            <div class="row-flex__md-12">
                <h2 class="heading heading--centered">Core Services</h2>
                {% include services.html %}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row-flex -->
        <div class="row-flex row-flex--center">
            <div class="row-flex__md-12 u-text-center">
              <a href="{{ site.baseurl }}/about" class="btn btn--border service__btn">Learn More</a
        >
      </div>
    </div>
  </div>
  <!-- /.wrapper -->
</section>

<section class="section section--white section--how section--pad-0" id="js-box1">
  <div class="slider">
    <div class="slider__left">
      <div class="slider__image slider__image--one">
        <div class="slider__image-box" id="js-box-el1">
          <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg"><path d="M1 1h398v398H1z" fill="none" fill-rule="evenodd"/></svg>
        </div><!-- /.slider__image-box -->
       </div>
    </div>
    <div class="slider__right">
      <div class="slider__content">
        <h2 class="slider__heading">Helping Brands Stay Ahead.</h2>
        <div class="service__hr"></div>
        <p class="slider__text">
          Marketing &amp; technology changes by the minute. We help your brand
          stay afloat amidst the evolution and approach design decisions with
          the future in mind.
        </p>
        <a href="/about" class="btn btn--arrow-light">Our Approach</a>
      </div>
    </div>
  </div>
</section>

<section class="section section--white section--how section--pad-0" id="js-box2">
  <div class="slider">
    <div class="slider__left reverse">
      <div class="slider__image slider__image--two">
        <div class="slider__image-box" id="js-box-el2">
          <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg"><path d="M1 1h398v398H1z" fill="none" fill-rule="evenodd"/></svg>
        </div><!-- /.slider__image-box -->
      </div>
    </div>
    <div class="slider__right">
      <div class="slider__content">
        <h2 class="slider__heading">Mission-First Design.</h2>
        <div class="service__hr"></div>
        <p class="slider__text">
          We work with nonprofits, trade associations, advocacy groups &amp; brands to build digital campaigns that generate positive change. We are who you call on when you need to get something done.
        </p>
        <a href="/about/#industries" class="btn btn--arrow-light">Who We Work With</a>
      </div>
    </div>
  </div>
</section>

<section class="section section--light">
  <div class="wrapper">
    <div class="row-flex">
      <div class="row-flex__md-12 cta">
        <h2 class="heading heading--centered">
           We Create Positive Change.
        </h2>
        <p class="u-text-center">
          As a team of creatives, developers &amp; designers, we build digital campaigns that help our clients achieve organizational goals.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--black section--pad-0">
  {% include accordion-services.html %}
</section>