/*********************************************************
    Hero
*********************************************************/
.hero {
  position: relative;
  height: 475px;
  //background: url('../img/bg-brick.png') 0 0 repeat;

  &--has-overlay {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba($color-secondary, 0.6);
      z-index: 1;
    }
  }

  &--full-height {
    height: 100vh;
  }

  &--bg-gradient {
    background-color: $color-secondary;
    background-image: linear-gradient(120deg, $color-secondary, $color-secondary-dark);
  }

  &__background-image {
    height: 100%;
  }

  &__logo { 
    width: 1em;
    height: 1em;
    font-size: 100px;
    margin: 0 auto;
    background: url('../img/logo.svg') center center no-repeat;
    background-size: 100%;
  }

  &__content {
    position: relative;
    top: 55%;
    transform: translateY(-55%);
    left: 0;
    text-align: center;
    color: $color-white;
    z-index: 10;
    @include bp_md {
      margin: 0 auto;
      max-width: 72%;
    }
  }

  &__title {
    font-family: $font-heading;
    font-weight: 300;
    font-size: 30px; 
    color: $color-body;
    margin-bottom: 10px;
    @include bp_md {
      font-size: rem(58);
    }

    &--underline {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 50px;
        background: $color-secondary;
      }
    }
  }


  &__btn-container {
    margin-top: 20px;
  }

}
