<div class="features">
  <ul class="icon-card-wrap">
    <a href="" class="icon-card">
      <li><span class="lnr lnr-picture"></span>Breakthrough design</li>
    </a>
    <a href="" class="icon-card">
      <li><span class="lnr lnr-laptop-phone"></span>Future-proof development</li>
    </a>
    <a href="" class="icon-card">
      <li><span class="lnr lnr-spell-check"></span>Content creation</li>
    </a>
    <a href="" class="icon-card">
      <li><span class="lnr lnr-magic-wand"></span>Creative strategy</li>
    </a>
    <a href="" class="icon-card">
      <li><span class="lnr lnr-cog"></span>Technical strategy</li>
    </a>
    <a href="" class="icon-card">
      <li><span class="lnr lnr-store"></span>E-commerce integration</li>
    </a>
    <!--<li><a class="btn btn--arrow">Breakthrough design</a></li>
    <li><a class="btn btn--arrow">Future-proof development</a></li>
    <li><a class="btn btn--arrow">Content creation</a></li>
    <li><a class="btn btn--arrow">Creative strategy</a></li>
    <li><a class="btn btn--arrow">Technical strategy</a></li>
    <li><a class="btn btn--arrow">E-commerce integration</a></li>
    <li><a class="btn btn--arrow">Ongoing support</a></li>-->
  </ul>
</div>