<header id="header" class="header header--fixed" role="banner">
  <button class="hamburger js-hamburger">
    <span class="lines">
      <span class="line line--top"></span>
      <span class="line line--middle"></span>
      <span class="line line--bottom"></span>
    </span>
  </button>
  <nav class="header__nav">
      <li><a href="{{site.baseurl}}/about">About</a></li>
      <li><a href="{{site.baseurl}}/work">Work</a></li>
      <li><a href="{{site.baseurl}}/about/#experience">Experience</a></li>
      <li><a href="{{site.baseurl}}/news">Blog</a></li>
      <li class="js-modal-trigger"><a href="/">Contact</a></li>
    </nav>
  <a href="{{site.baseurl}}/" class="header__logo">
    <img src="{{site.baseurl}}/assets/images/logo.svg" rel="logo"
      title="Brian Z. O'Toole" alt="brian o'toole tampa fl logo" />
  </a><!--/.hero_logo-->
</header>
<!--
<div class="nav-mobile" id="js-nav-mobile">
  <ul class="nav-mobile__wrap">
    <li><a class="nav-mobile__item" href="{{site.baseurl}}/about">About</a></li>
    <li><a class="nav-mobile__item" href="{{site.baseurl}}/work">Work</a></li>
    <li><a class="nav-mobile__item" href="{{site.baseurl}}/news">News</a></li>
    <li><a class="nav-mobile__item" href="{{site.baseurl}}/contact">Contact</a></li>
  </ul>
</div>
-->