
<div class="services">

    <div class="service">
      <h4 class="service__title">Strategy</h4>
      <div class="service__hr"></div>
        <li class="service__item">Brand strategy</li>
        <li class="service__item">Campaign planning</li>
        <li class="service__item">Technical strategy</li>
        <li class="service__item">Growth strategy</li>
    </div><!-- /.service -->
    <div class="service">
      <h4 class="service__title">Design</h4>
      <div class="service__hr"></div>
        <li class="service__item">Brand identity</li>
        <li class="service__item">Print pack</li>
        <li class="service__item">Digital pack</li>
        <li class="service__item">Integrated support</li>
    </div><!-- /.service -->
    <div class="service">
      <h4 class="service__title">Technology</h4>
      <div class="service__hr"></div>
        <li class="service__item">Website development</li>
        <li class="service__item">Website management</li>
        <li class="service__item">Motion / animation</li>
        <li class="service__item">E-commerce</li>
    </div><!-- /.service -->
    <div class="service">
      <h4 class="service__title">Marketing</h4>
      <div class="service__hr"></div>
        <li class="service__item">Digital activation</li>
        <li class="service__item">Brand marketing</li>
        <li class="service__item">Lead generation</li>
        <li class="service__item">Campaign management</li>
    </div><!-- /.service -->
  
  </div><!-- /.services -->