
<div class="services">

  <div class="service">
    <div class="service__content hvr-underline-from-left">
      <div class="service__number">01.</div>
      <h3 class="service__title">Development &amp;<br/> Engineering</h3>
      <h3 class="service__title--service">Full Stack Development</h3>
      <h3 class="service__title--service">Web Applications</h3>
      <h3 class="service__title--service">Responsive Development</h3>
      <h3 class="service__title--service">E-Commerce Integration</h3>
      <h3 class="service__title--service">Location-based Integration</h3>
      <span class="service__icon">{% include svg-web.html %}</span>
      <a href="" class="btn btn--card">Learn More</a>
    </div><!-- /.service__content -->
  </div><!-- /.service -->

  <div class="service">
      <div class="service__content hvr-underline-from-left">
        <div class="service__number">02.</div>
        <h3 class="service__title">Brand<br/> Activation</h3>
        <h3 class="service__title--service">Strategic landing page development</h3>
        <h3 class="service__title--service">Motion / animation</h3>
        <h3 class="service__title--service">Third-party integrations</h3>
        <h3 class="service__title--service">Web-based immersive experiences</h3>
        <span class="service__icon">{% include svg-terminal.html %}</span>
        <a href="" class="btn btn--card">Learn More</a>
      </div><!-- /.service__content -->
    </div><!-- /.service -->

    <div class="service">
        <div class="service__content hvr-underline-from-left">
          <div class="service__number">03.</div>
          <h3 class="service__title">Support &amp;<br/> Growth</h3>
          <h3 class="service__title--service">Website security</h3>
          <h3 class="service__title--service">Website management</h3>
          <h3 class="service__title--service">Website enhancements</h3>
          <h3 class="service__title--service">Ongoing creative &amp; technical partners</h3>
          <span class="service__icon">{% include svg-lock.html %}</span>
          <a href="" class="btn btn--card">Learn More</a>
        </div><!-- /.service__content -->
      </div><!-- /.service -->

</div><!-- /.services -->