<div class="row-flex team-block">
  <div class="row-flex__md-4">
    <div class="contact-content">
      <img src="{{site.baseurl}}/assets/images/brian-headshot.jpg" alt="brian otoole, brick & monitor, tampa, florida">
    </div><!--/.contact-content-->
  </div><!--/.one-third.left-->
  <div class="row-flex__md-8">
    <h4 class="section-title section-title--underline">Brian O'Toole, Founder &amp; Developer</h4>
    <p>Brian has 11 years of agency experience working across diverse platforms and devices. He specializes in building full-stack web experiences using the latest in modern web development. He is passionate about crafting a custom workflow and architecture that emphasizes speed and performance. Brian will serve as your main day-to-day contact and project manager. He will be involved in each step in the project. He has won several Florida Public Relation Association Image Awards for the development & execution of various statewide campaigns and two Addy Awards for website development.
    <p>Brian sincerely enjoys the work he does and our clients garner the benefits. Outside of work, Brian like to explore new things and keep up with sports... particularly the NFL. Go Jags!</p>
  </div><!--/.two-third.right-->
</div>

<div class="row-flex team-block">
  <div class="row-flex__md-4">
    <div class="contact-content">
      <img src="{{site.baseurl}}/assets/images/payton-headshot.jpg" alt="payton bridges, brick & monitor">
    </div><!--/.contact-content-->
  </div><!--/.one-third.left-->
  <div class="row-flex__md-8">
    <h4 class="section-title section-title--underline">Payton Bridges, Art Director</h4>
    <p>With 15 years of experience in the fields of communication, and brand identity design for small to mid size companies, Payton is well versed in the latest tools and best practices for logo and brand development, print production, and web design. Payton’s proven concept and design abilities have resulted in award winning campaigns across various web and print based communications for a variety of clients across the nation. Payton has worked on brands such as Aston Martin, Dolby, Ryland Homes, Baylor Scott &amp; White Medical, Purgatory Ski Resort, and The University of Texas Systems.</p>
  </div><!--/.two-third.right-->
</div><!-- /.team-block -->