
<div class="one-third left">
  <div class="contact-content">
    <img src="{{site.baseurl}}/assets/images/brian-headshot.jpg" alt="brian o'toole">
  </div><!--/.contact-content-->
</div><!--/.one-third.left-->
<div class="two-third right">
  <h4 class="section-title section-title--underline">Brian O'Toole</h4>
  <p>Brian O'Toole is the Founder &amp; Lead Developer of Brick &amp; Monitor. Brian has 11 years of agency experience working across diverse platforms &amp; devices. He has worked alongside talented teams of designers, developers, and entrepreneurs, which has helped develop a deep understanding about the intuitions of brand marketing.
  <p>Brian sincerely enjoys the work he does and our clients garner the benefits. Outside of work, Brian like to explore new things and keep up with sports... particularly the NFL. Go Jags!</p>
  <ul class="contact-list">
    <li class="contact-list-item half"><a href="https://twitter.com/brianotoole" target="_blank">Brian on Twitter</a></li>
    <li class="contact-list-item half"><a href="https://www.quora.com/profile/Brian-OToole" target="_blank">Brian on Quora</a></li>
   </ul><!--/.contact-list-->
</div><!--/.two-third.right-->


