<div class="wrapper wrapper--narrow">

    <div class="call-out call-out--is-numbers">
        <div class="call-out__left">
          <h3 class="call-out__number call-out__number--secondary">01</h3>
          <h3 class="call-out__title">Website Support &amp; Growth</h3>
        </div>
        <div class="call-out__right">
          <p>Growing rapidly and need extra support of a development team for your website? Our on-going support &amp; growth
            plans ensure your business can grow without any technical limitations.</p>
          <li>Website security</li>
          <li>Website maintenance</li>
          <li>Website enhancements</li>
          <li>Ongoing technical partners</li>
          <a href="{{ project.url }}/#website-support-plans" class="link">See Plans</a>
        </div>
      </div>

      <div class="call-out call-out--is-numbers">
          <div class="call-out__left">
            <h3 class="call-out__number call-out__number--secondary">02</h3>
            <h3 class="call-out__title">Custom Design &amp; Development</h3>
          </div>
          <div class="call-out__right">
            <p>We build long-lasting solutions that will adapt to whatever the future holds. We build solid solutions that work
              across platforms, screen sizes, and browsers. We have a passion for doing work that engages visitors, and converts
              them to sales. We work for the success stories of our clients.</p>
            <li>Responsive web development</li>
            <li>E-Commerce integration</li>
            <li>Point-of-sale integration</li>
            <li>User experience design</li>
            <a href="{{ project.url }}/work" class="link">See Work</a>
          </div>
        </div>

    <div class="call-out call-out--is-numbers">
      <div class="call-out__left">
        <h3 class="call-out__number call-out__number--secondary">03</h3>
        <h3 class="call-out__title">Brand Activation</h3>
      </div>
      <div class="call-out__right">
        <p>We create connected experiences for your brand that demands stability, performance and execution.</p>
        <li>Strategic landing page development</li>
        <li>Website photoshoots</li>
        <li>Marketing collateral</li>
        <li>Brand styleguides</li>
        <a href="{{ project.url }}/contact/#contact" class="link">Contact Us</a>
      </div>
    </div>

  </div>