
<div class="card-wrap">

  <a href="{{site.baseurl}}/nonprofits">
  <div class="card">
    <div class="card__header card__header--1">
      <h5 class="card__title">Non-Profits</h5>
    </div>
    <div class="card__description">
      <p>We help non-profit organizations tell their story online. This includes focusing in on messaging, design, and using the technical tools to inspire awareness for your cause.</p>
      <a href="{{site.baseurl}}/nonprofits" class="btn btn--card">Learn More</a>
    </div>
  </div>
  </a>

  <a href="{{site.baseurl}}/publicaffairs">
  <div class="card">
    <div class="card__header card__header--2">
      <h5 class="card__title">Public Affairs</h5>
    </div>
    <div class="card__description">
      <p>Our Public Affairs &amp; Campaign support projects include a full-service, integrated approach. We'll work with you to establish your narrative, design call-to-actions &amp; build strategic landing pages to generate support for your cause.</p>
      <a href="{{site.baseurl}}/publicaffairs" class="btn btn--card">Learn More</a>
    </div>
  </div>
  </a>

  <a href="{{site.baseurl}}/ecommerce">
  <div class="card">
    <div class="card__header card__header--3">
      <h5 class="card__title">Retail / E-commerce</h5>
    </div>
    <div class="card__description">
      <p>We live by the principal of <em>'adapt or die'</em> &amp; the retail industry is leading this charge. We help brands sell more online by improving their online &amp; offline infrastructure to streamline their product offerings.</p>
      <a href="{{site.baseurl}}/ecommerce" class="btn btn--card">Learn More</a>
    </div>
  </div>
  </a>

</div>