<a href="#">
  <div class="link-card link-card--1">
    <div class="link-card__content">
      <h4>Non-profits</h4>
      <button class="btn btn--arrow">Learn More</button>
    </div>
    <div class="link-card__image">
      <img
        src="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80"
        alt="">
    </div>
  </div><!-- /.link-card -->
</a>

<a href="#">
  <div class="link-card link-card--2">
    <div class="link-card__content">
      <h4>Public Affairs &amp; Campaigns</h4>
      <button class="btn btn--arrow">Learn More</button>
    </div>
    <div class="link-card__image">
      <img
        src="https://images.unsplash.com/photo-1496144300411-8dd31ce145ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2144&q=80"
        alt="">
    </div>
  </div><!-- /.link-card -->
</a>

<a href="#">
  <div class="link-card link-card--3">
    <div class="link-card__content">
      <h4>Retail &amp; E-commerce</h4>
      <button class="btn btn--arrow">Learn More</button>
    </div>
    <div class="link-card__image">
      <img
        src="https://images.unsplash.com/photo-1519222970733-f546218fa6d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80"
        alt="">
    </div>
  </div><!-- /.link-card -->
</a>