<a href="#">
  <div class="link-card link-card--1">
    <div class="link-card__content">
      <h2>Non-profits</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At neque
        voluptate laboriosam illum. Rerum quae repudiandae, nulla voluptas.</p>
      <button class="btn btn--arrow u-border-white u-text-white">Get Started</button>
    </div>
    <div class="link-card__image">
      <img
        src="https://weareevermore.com/images/services/consult-1-0f7e18aec5.png"
        alt="">
      <img
        src="https://weareevermore.com/images/services/consult-1-0f7e18aec5.png"
        alt="">
    </div>
  </div><!-- /.link-card -->
</a>

<a href="#">
  <div class="link-card link-card--2">
    <div class="link-card__content">
      <h2>Non-profits</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At neque
        voluptate laboriosam illum. Rerum quae repudiandae, nulla voluptas.</p>
      <button class="btn btn--arrow u-border-white u-text-white">Get Started</button>
    </div>
    <div class="link-card__image">
      <img
        src="https://weareevermore.com/images/services/consult-1-0f7e18aec5.png"
        alt="">
      <img
        src="https://weareevermore.com/images/services/consult-1-0f7e18aec5.png"
        alt="">
    </div>
  </div><!-- /.link-card -->
</a>

<a href="#">
  <div class="link-card link-card--3">
    <div class="link-card__content">
      <h2>Non-profits</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At neque
        voluptate laboriosam illum. Rerum quae repudiandae, nulla voluptas.</p>
      <button class="btn btn--arrow u-border-white u-text-white">Get Started</button>
    </div>
    <div class="link-card__image">
      <img
        src="https://weareevermore.com/images/services/consult-1-0f7e18aec5.png"
        alt="">
      <img
        src="https://weareevermore.com/images/services/consult-1-0f7e18aec5.png"
        alt="">
    </div>
  </div><!-- /.link-card -->
</a>