/*********************************************************
    Variables
*********************************************************/

/*********************************************************
    Colors
*********************************************************/
$color-primary: #2d2d2d;
$color-secondary: #B14437;
$color-tertiary: #F2F3D9;
$color-white: #ffffff;
$color-body: #222;
$color-gray: #f1f1f1;

$color-primary-dark: darken($color-primary, 15%);
$color-secondary-dark: darken($color-secondary, 15%);
$color-body-dark: darken($color-body, 15%);
$color-white-dark: darken($color-white, 15%);
$color-gray-dark: #e0e3e8;

$color-border-base: rgba($color-body, 0.2);
$color-success: green;
$color-error: red;

/*********************************************************
    Typography
*********************************************************/
$font-base-font-size: 1rem;
$font-ratio: 1.2;
$font-base-line-height: 1.5;

$font-heading: 'Playfair Display';
$font-body: 'Montserrat';

/*********************************************************
    Responsive Breakpoints
*********************************************************/
$bp_sm: 530px;
$bp_md: 800px;
$bp_lg: 999px;
