/*********************************************************
    Footer
*********************************************************/

.footer {
  padding-top: rem(90);
  a:not(.btn) {
    text-decoration: none;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 100%;
      bottom: 0;
      background: $color-white;
      height: 1px;
      transition: right 0.3s ease-out;
    }
    &:hover:before {
      right: 0;
    }
  }
}
.footer-link__wrap {
  background: $color-primary;
  color: $color-white;
  display: block;
  padding: 80px 0;
  transition: background 0.25s ease-in-out;
  &:hover,
  &:focus {
    background: $color-primary;
    color: $color-white;
  }
}
.footer__tagline {
  padding-top: rem(5);
  text-transform: uppercase;
  color: rgba($color-white, 0.5);
  font-size: rem(12);
  letter-spacing: 5px;
}
.footer__bottom {
  justify-content: center;
  padding-top: rem(60);
  padding-bottom: rem(30);
  border-top: 1px solid rgba($color-white, 0.15);
  color: rgba($color-white, 0.5);
  font-size: rem(14);
  @include bp_md() {
    justify-content: space-between;
  }
}
.footer__bottom-links,
.footer__bottom-copy {
  width: auto;
  * {
    font-size: rem(14);
  }
}
.footer__bottom-links {
  list-style: none;
  display: flex;
  li a {
    margin: 0 rem(10);
    color: white;
  }
}