/*********************************************************
    Header
*********************************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;//test only
  margin: 0;
  padding: rem(30);
  background-color: $color-primary;
  color: $color-white;
}
.header--fixed {
  position: fixed;
  transform: translateY(-100%);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.header--fixed.top {
  transform: translateY(-100%); 
}

.header--fixed.not-top {
  -webkit-transform: translateY(0%);
          transform: translateY(0%); }

.header--fixed.slideDown.not-top {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.header--fixed.slideDown.top {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.header--fixed.slideUp.not-top {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.header--fixed.slideUp.top {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

// Headroom.js classes
.headroom {
  will-change: transform;
  transition: transform 0.3s linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}