/*********************************************************
    Header
*********************************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0 rem(15);
  background-color: $color-primary;
  z-index: 3;
}

.header--fixed {
  position: fixed;
  //transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.header--fixed.top {
  //transform: translateY(-100%); 
}

.header--fixed.not-top {
  transform: translateY(0%); 
}

.header--fixed.slideDown.not-top {
  transform: translateY(0); 
}

.header--fixed.slideDown.top {
  transform: translateY(-100%); 
}

.header--fixed.slideUp.not-top {
  transform: translateY(0); 
}

.header--fixed.slideUp.top {
  transform: translateY(-100%); 
}

// Headroom.js classes
.headroom {
  will-change: transform;
  transition: transform 0.3s linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

// Header nav
.header__logo {
  display: flex;
  width: 55px;

}
.header ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.header li a {
  color: $color-white;
  padding: 0 rem(15);
}

.header .header__button {
  padding-top: rem(2.5);
  padding-bottom: rem(2.5);
  border: 1px solid white;
  margin-left: rem(15);
  border-radius: 32px;
  &:hover, &:focus {
    background-color: $color-primary-dark;
    transition: background 0.2s linear;
  }
}