/*********************************************************
    Header
*********************************************************/

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  margin: 0;
  padding: rem(30) rem(30) rem(12);
  background: $color-black;
  z-index: 9999;
  transition: all 0.25s ease-out;
  &--is-small {
    background: $color-black;
    padding-top: rem(20);
    transition: all 0.25s ease-out;
  }
}

.header--shrink-width {
 width: 62px!important;
 transition: width 0.25s ease-out;
 li {
   display: none;
 }
}


// Header nav
.header__logo {
  top: 0;
  z-index: 2;
  margin-right: calc(50% - 40px);
  img {
    width: 75px;
    transition: width 0.25s ease-out;
    @include bp_md {
      width: 85px;
    }
  }
}

.header__nav {
  display: none;
  width: rem(600);
  padding-left: rem(30);
  list-style: none;
  align-items: center;
  transition: width 0.25s linear;
}
.nav-open .header__nav {
  display: flex;
}

.header__nav {
  $faster: 15ms;
  li {
    opacity: 0;
    padding: 0 rem(12.5);
    font-family: $font-heading;
  }
  @for $index from 1 through 4 {
    li:nth-child(#{$index}) {
      animation: fadeInX 200ms ease-out;
      animation-delay: (175ms - ($faster * $index)) * $index;
      animation-fill-mode: forwards;
    }
  } 
  .nav-mobile-wrap {
    opacity: 1;
  }
}

.header__nav li a {
  color: $color-white;
  font-size: font-scale(1);
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $color-white;
    height: 1px;
    transition: right 0.3s ease-out;
  }
  &:hover:before {
    right: 0;
  }
}

.header__nav .header__button {
  display: inline-block;
  padding-top: rem(2.5);
  padding-bottom: rem(2.5);
  border: 1px solid white;
  margin-left: rem(15);
  border-radius: 32px;
  &:hover, &:focus {
    background-color: $color-primary;
    transition: background 0.2s ease-out;
  }
}

.hamburger {
  //display: none;
  margin-top: -10px;
  padding: 0;
  border: 0;
  background: rgba($color-secondary, 0.99);
  z-index: 2;
  cursor: pointer;
  outline: none;
  transition: opacity 0.5s cubic-bezier(.215,.61,.355,1);
  .header--is-small & {
    //display: flex;
  }
}

.hamburger .lines {
  display: block;
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 18px;
}

.hamburger .line {
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 4px;
  background-color: $color-white;
  display: block;
  transition: opacity 0.25s cubic-bezier(.215,.61,.355,1),transform 0.25s cubic-bezier(.215,.61,.355,1);
}

.hamburger .line--top {
  top: 0;
  left: 0;
}

.hamburger .line--middle {
  top: 45%;
  left: 0;
}

.hamburger .line--bottom {
  bottom: 0;
  left: 0;
}

// animated - on click of hamburger
.hamburger.animate .line--top {
  transform: translateY(10px) translateX(0) rotate(45deg) scaleX(1.15);
  transform-origin: 50% center;
}
.hamburger.animate .line--middle {
  opacity: 0;
  transform: scaleX(0);
}
.hamburger.animate .line--bottom {
  transform: translateY(-10px) translateX(0) rotate(-45deg) scaleX(1.15);
  transform-origin: 72% center;
}


// Mobile Nav
body.nav-open {
  //position: fixed;
  //overflow-y: hidden;
  //width: 100%;
}

.hide {
  display: none!important;
}
