/*********************************************************
    Hero
*********************************************************/

.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  padding: rem(120) 0 rem(60);
  &--full-height {
    height: 100vh;
  }
  &--page-interior {
    @include bp_md {
      height: 65vh;
      padding: 0;
    }
  }
}

.hero__bg {
  visibility: hidden; // added for tween
  transform-origin: 0 100%; //added for tween
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 88% 55px;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($color-black, 0.25);
  }
  @include bp_md() {
    background-position: center top;
  }
  &--home {
    background-color: $color-black;
    //background-image: url('/assets/images/bg-hero-space.jpg');
  }
  &--wst {
    background-image: url('/assets/images/bg-wst.jpg');
    background-position: center center;
  }
  &--wst2 {
    background-image: url('/assets/images/bg-wst2.jpg');
    background-position: center center;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color-black, 0.5);
    }
  }
}

.hero__content {
  position: relative;
  max-width: 100%;
  color: $color-white;
  padding-top: rem(150);
  z-index: 99;
  visibility: hidden; //added for tween
  @include bp_md {
    max-width: 50%;
  }
  * {
    margin-top: rem(15);
  }
  &--centered {
    text-align: center;
    margin: 0 auto;
  }
}

.hero__logo {
  width: 100px;
  padding-bottom: rem(30);
}
.hero__title,
.hero__subtitle {
  margin: 0;
}

.hero__title {
  padding-bottom: rem(15);
}

.hero__subtitle {
  @extend .h5;
}

.hero__scroll {
  position: relative;
  width: 50px;
  height: 75px;
  margin-left: rem(15);
  z-index: 2;
  &--centered {
    margin: 0 50%;
  }
  a {
    position: relative;
    color: $color-white;
    font-size: rem(14);
    font-style: italic;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1rem;
    height: 1rem;
    margin-left: -9px;
    border-left: 1px solid rgba($color-white, 0.8);
    border-bottom: 1px solid rgba($color-white, 0.8);
    transform: rotate(-45deg);
    animation: scrollDown 1.5s infinite;
  }
}
