/*********************************************************
    Page - global page elements
*********************************************************/

body.loading {
  background: $color-white;
  .hero--page-interior .hero__bg {
    opacity: 0;
    transform: scale(1.2);
  }
}

body {
  .hero--page-interior .hero__bg {
    opacity: 1;
    transform: scale(1);
    transform-origin: 0 100%;
    transition: transform 0.9s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  }
}

.pre-loader {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 99999;
  background: transparent;
  &.is-loading {
    display: block;
    overflow: hidden;
    background: $color-white;
    z-index: 9999;
  }
}

.pre-loader-logo-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  &.active {
    display: block;
  }
}

.pre-loader-logo {
  position: absolute;
  width: 150px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 99;
  .svg {
    display: none;
    fill: currentColor;
    color: transparent;
    // outer = circle border
    .svg-outer {}
    // inner = ampersand
    .svg-inner {
      stroke: transparent;
    }
    &.active {
      display: block;
      animation: draw 0.6s reverse linear;
      visibility: visible;
    }
  }
}

@keyframes draw {
  from {
    color: transparent;
  }
  to {
    color: black;
  }
}

// Wraps entire site
.site-wrapper {
  overflow: hidden;
}

// Generic content wrapper
.wrapper {
  position: relative;
  max-width: 1230px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
  overflow: hidden;
  &--narrow {
    max-width: 976px;
  }
  &--home {
    @include bp_md {
      padding-right: rem(100);
    }
  }
  .home & {
    color: $color-white;
  }
}

// Sections
.section {
  position: relative;
  &--full-height {
    height: 100vh!important;
  }
  &--underline {
    border-bottom: 2px solid $color-grey;
  }
  &--secondary {
    background-color: $color-secondary;
    color: $color-white;
  }
  &--dark {
    background-color: $color-grey;
    color: $color-white;
  }
  &--light {
    background-color: #f5f5f5;
    color: $color-black;
  }
  &--grey {
    background-color: $color-grey;
    color: $color-white;
  }
  &--black {
    background-color: $color-black;
    color: $color-white;
  }
}

.section--pad {
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include bp_md {
    padding-top: rem(90);
    padding-bottom: rem(90);
  }
}

.section--pad-lg {
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include bp_md {
    padding-top: rem(120);
    padding-bottom: rem(120);
  }
}

// Fullpage.js sections

// Non active
.fullpage .section .wrapper {
	transform: translateY(100px);
	opacity: 0;
	transition: transform 0.5s 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99),
        opacity 0.5s 0.5s ease-in-out;
  backface-visibility: hidden;
}
.fullpage .section .hero__bg {
  transform: scale(1.2);
  transition: transform 0.9s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  backface-visibility: hidden;
}

// Actives
.fullpage .section.active .wrapper {
	transform: translateY(0);
	opacity: 1;
}
.fullpage .section.active .hero__bg {
  transform: scale(1);
}


// Page content
.page-content {
  color: $color-body;
}

// Home
.list-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    margin: 0;
    display: block;
    width: 100%;
    @include bp_md {
      margin: rem(15);
      width: auto;
    }
  }
  a {
    width: 100%;
    transition: all 0.2s linear;
    @include bp_md {
      width: auto;
    }
  }
}

.link-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: rem(30);
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: $color-body;
  transition: all 0.2s linear;
  &:hover, :focus {
    transform: translateY(-5px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    img {
      filter: grayscale(0);
    }
  }
  &--2 {}
  &--3 {}
}

.link-card__content {
  padding: rem(30);
  .btn {
    margin-top: rem(15);
  }
}

.link-card__image {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  img {
    width: auto;
    max-width: 250px;
    position: relative;
    z-index: 2;
    filter: grayscale(50%);
    @media (max-width: $bp_md) {
      display: none;
    }
  }
  img + img {
    z-index: 1;
    margin-top: -100px;
    position: absolute;
    margin-left: -14%;
  }
}

.icon-card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.icon-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(12/12 * 100%);
  margin: rem(15);
  padding: rem(60) rem(30);
  background: $color-white;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: $color-body;
  transition: all 0.2s linear;
  @include bp_md {
    width: calc(4/12 * 100% - 30px);
    padding: rem(60);
  }
  &:hover, :focus {
    transform: translateY(-5px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  }
  li {
    display: flex;
    align-items: center;
  }
  span {
    padding-right: rem(20);
    font-size: rem(50);
  }
}


// Work
.project-block {
  img {
    background-color: #f5f5f5;
    padding: rem(15);
  }
}

.project-block {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: rem(50);
  margin-bottom: rem(50);
  @include bp_md {
    margin-bottom: 0;
  }
  &:last-of-type {
    border-bottom: none;
  }
  div + div {
    order: -1;
    padding-bottom: rem(30);
    @include bp_md {
      order: 1;
      padding: 0;
    }
  }
}

.project-url {
  display: inline-block;
  padding-bottom: rem(30);
  font-weight: 700;
  text-transform: uppercase;
}

// Team
.team-block + .team-block {
  border-top: 1px solid #f5f5f5;
  padding-top: rem(50);
}