
<!DOCTYPE html>
<html>
{% include head.html %}

<body class="{% if page.bodyclass %}{{ page.bodyclass }}{% else %}{{ layout.bodyclass }}{% endif %}">
    <div class="site-wrapper">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </div><!--/.site-wrapper-->

<script src="{{site.baseurl}}/assets/app.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-45683618-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-175170617-1');
</script>

</body>
</html>
