---
layout: page
bodyclass: work
---

<section class="section section--pad section--content" id="more">
  <div class="wrapper">
    <div class="row-flex">
      <div class="row-flex__md-12">
        <div class="entry-content">
            <a href="{{ page.link }}" class="h6 text-no-underline"
            style="color:#{{ page.bgcolor }};" target="_blank">View website</a>
          {{ content }}
        </div><!--/.entry-content-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</section>