---
layout: page
bodyclass: work
---

<section class="section section--pad section--content" id="more">
  <div class="wrapper">
    <div class="row-flex">
      <div class="row-flex__md-12">
        <div class="entry-content">
          <blockquote style="border-color:#{{ page.bgcolor }};">
            <span class="lnr lnr-exit-up"></span>
            <a href="{{ page.link }}" class="project-url"
              style="color:#{{ page.bgcolor }};" target="_blank">View website</a>
          </blockquote>
          {{ content }}
        </div><!--/.entry-content-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</section>