// MIXINS

// Convert PX to REM
// Usage: 
// .class {font-size: rem(20)};
$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}


// Media query breakpoints
// Usage:  @include breakpoint(sm) { width: 100%; }
@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: calc-em(1200px)) { @content; } //"xl" = above 1200
  }
  @else if $point == lg {
    @media (min-width: calc-em(992px)) { @content; } //"lg" = above 992
  }
  @else if $point == md {
    @media (min-width: calc-em(768px)) { @content; } //"md" = above 768
  }
  @else if $point == sm {
    @media (min-width: calc-em(576px))  { @content; } // "sm" = above 576
  }
  @else if $point == xs {
    @media (max-width: calc-em(576px))  { @content; } // "xs" = below 576
  }
}

/*********************************************************
Card Hover
Usage: @include cardHover()
*********************************************************/

@mixin cardHover() {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: $color-body;
  &:hover,
  &:focus {
    transform: translateY(-5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
}