/*********************************************************
    Variables
*********************************************************/

/*********************************************************
    Colors
*********************************************************/

$color-primary: #FF5758; //red
$color-secondary: #111;//black
$color-tertiary: #f9f9f9;
$color-white: #ffffff;
$color-body: #111;
$color-light: #f5f5f5;
$color-grey: #827e7e;
$color-grey-dark: #252525;
$color-grey-light: #d1cbcb;
$color-black: #111;
$color-primary-dark: darken($color-primary, 5%);
$color-secondary-dark: darken($color-secondary, 5%);
$color-white-dark: darken($color-white, 5%);
$color-border: rgba($color-body, 0.1);
$color-success: green;
$color-error: red;

/*********************************************************
    Typography
*********************************************************/

$font-base-font-size: 1rem;
$font-ratio: 1.2;
$font-base-line-height: 1.6;
//$font-heading: "Playfair Display Bold", serif;
$font-heading: "adriane", serif;
$font-heading-accent: "brandon-grotesque", sans-serif;
$font-body: "calluna", serif;

/*********************************************************
    Responsive Breakpoints
*********************************************************/

$bp_sm: 530px;
$bp_md: 800px;
$bp_lg: 999px;