// VARIABLES

// Colors: branding
$color-primary: #007370; //green
$color-secondary: #d9a318; //navy
$color-tertiary: #19252b; //gray
$color-code: #1bff00;

// Colors: others
$color-body: #111;
$color-white: #ffffff;
$color-gray: #f2f6f9;
$color-black: #000;
$color-primary-dark: darken($color-primary, 5%);
$color-secondary-dark: darken($color-secondary, 5%);
$color-tertiary-dark: darken($color-tertiary, 5%);
$color-alt1: darken($color-primary, 1%);
$color-alt2: darken($color-primary, 2%);
$color-alt3: darken($color-primary, 3%);
$color-alt4: darken($color-primary, 4%);

// Colors: components
$color-link: $color-tertiary;
$color-link-hover: darken($color-tertiary, 15%);
$color-border: #d1d3d4;
$color-border-base: rgba($color-body, 0.2);
$color-border-light: rgba($color-white, 0.1);

// Font Stacks
$font-heading: "freight-text-pro", serif;
$font-body: "proxima-nova", sans-serif;
$font-monospace: Menlo, Monaco, monospace;

// Breakpoints, using rems
// #size % 16(default body font-size) == xrem (or, 320%16 ==20)
$bp-xs: 20rem; //320
$bp-sm: 30rem; //480
$bp-md: 50rem; //800
$bp-lg: 62.4375em; //999
$bp-xl: 80rem; //1280

// Sizings
$font-size-body: rem(16);
// Relative sizings if needed to resize body
$font-size-xl: 120%;
$font-size-lg: 110%;
$font-size-sm: 90%;
$font-size-xs: 80%;

// Margins & Pads
$margin-bottom-headings: 0.5rem;
$margin-bottom-paragraphs: 1rem;
